.body{
    float: right;
    width: 110%;
    top: 56px;
    height: 100%;
    padding-right: 0 !important;
}
.title{
    text-align: center
}
.a{
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    height: 100% !important;
    height: 80px;
}

.b{
    height: 600px;
}
.card-body{
    padding: 0 !important;
}

.add{
    top: 25px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
    
}
.col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 84% !important;
    padding-right: 90px;
}
main{
    margin-left: 300px;
    padding: 25px;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}
.aside-menu-hidden main {  margin-left:0; }

.modal-dialog {
    max-width: 1200px !important;
    margin: 1.75rem auto;
}

.p {
     width: 100%;
}
.add{
    width: 5% !important;
}
.h5, h5 {
    font-size: 1.25rem;
    text-align: center;
}
.material-icons {
    cursor: pointer; 
}

.remove-comp-btn{
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;

}
.okay-comp-btn{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}
.relative{
    position: relative;
}
.a:hover{border: 1px solid #0080c4;}
.a:hover .remove-comp-btn{
    visibility: visible;
    opacity: 1;
    z-index: 1;
} 
.a:hover .okay-comp-btn{
    border: 1px solid #0080c4;
    visibility: visible;
    opacity: 1;
    z-index: 1;
} 
.b:hover{border: 1px solid #0080c4;}
.b:hover .okay-comp-btn{
    
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.b:hover .remove-comp-btn{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    border: 1px solid #0080c4;
} 
.prev{
    z-index: 1;
}
.btn-1{
    border-radius: 0px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.padd{padding: 5px 0px;box-sizing: border-box;}
.no-padd{padding: 0px;}
.a p{color: #0080c4;font-size: 14px;text-align: center;opacity: 0.6;}
.b p{color: #0080c4;font-size: 14px;text-align: center;opacity: 0.6;}