.re-banner {
    position: relative;
    width: 100%;
}
body {
    font-weight: normal;
    background: #ffffff;
    font-size: 14px;
    line-height: 18px;
    font-family: "montserrat-regular";
}
.re-banner:before, .re-banner:after {
    content: '';
    display: table;
    clear: both;
    box-sizing: border-box;
}
.banner-inner-img {
    position: relative;
    z-index: 0;
    line-height: 0;
}
.banner-inner-img img {
    width: 100%;
}
.banner-inner-txt {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.disp-tbl {
    width: 100%;
    height: 100%;
    display: table;
}
.banner-inner-txt .disp-tbl-cel {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
}
.disp-tbl-cel {
    display: table-cell;
    vertical-align: middle;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.banner-inner-txt .txt-box {
    width: 350px;
    position: relative;
    z-index: 2;
    margin-left: 4%;
}
.banner-inner-txt .txt-box h1, .banner-inner-txt .txt-box h2 {
    color: #ffffff;
    margin-bottom: 15px;
}
h1 {
    font-size: 34px;
    line-height: 36px;
}
.banner-inner-txt .txt-box p, .banner-inner-txt .txt-box span {
    color: #ffffff;
    font-size: 14px;
    margin: 0px 0 20px;
}
.bor.arrow-r {
    padding: 10px 17px 10px 15px;
    position: relative;
}
.bor.clr-w, .bor.clr-w:not([href]):not([tabindex]) {
    color: #ffffff;
    border-color: #ffffff;
}
.re-banner:before, .re-banner:after {
    content: '';
    display: table;
    clear: both;
    box-sizing: border-box;
}
.bor {
    border-width: 1px;
    border-style: solid;
    padding: 10px 20px 10px 15px;
}
.bor.arrow-r:before {
    right: 15px;
}
/* .arrow-r:before {
    position: absolute;
    right: 0px;
    top: 50%;
    content: "\f061";
    font-family: "FontAwesome";
    font-size: 12px;
    margin-top: -7px;
} */
.txt-box a:hover{
    background-color: #ffffff;
    color: black;
    text-decoration: none;
}