.footer { background: #3c3d40; }
.footer-middle .col-sm-4 { border-right: 1px solid #272829; padding: 40px 15px; }
.footer-middle h3 { text-transform: capitalize; color: #fff; font-size: 18px; text-transform: uppercase; margin-bottom: 20px; }
.footer-menu { padding: 0px; margin: 0px; }
.footer-middle .col-sm-4 p { color: #fff; }
.footer-menu-50 li{ width: 50%; float: left; padding-right: 15px; list-style: none; }
.footer-menu li { padding-right: 15px; list-style: none; margin-bottom: 10px; }
.footer-menu li a { display: block; text-transform: capitalize; color: #898989; }
.footer-menu li p { margin-bottom: 0px; }
.footer-menu li span { color: #fff; }
.payment-icons { color: #898989; margin: 10px 0px 0px; }
.payment-icons img { height: 30px; }
.footer-bottom { background: #d8c62d; color: #fff; height: 50px; line-height: 48px; }
.footer-bottom p { margin-bottom: 0px; }
.footer-bottom a { font-size: 20px; margin-left: 10px; color: #fff; }
