footer.footer-arya { background:#f6f6f6; padding-top:15px;padding-bottom:15px;}
footer.footer-arya h4 { color:#999; text-transform:capitalize;font-family: 'Lato', sans-serif; font-weight:400; font-size: 16px; border-bottom:1px solid #999; padding: 0 0 10px; margin:30px 0 15px;}
footer.footer-arya ul {margin:0; padding:0; list-style:none;}
footer.footer-arya ul li a { color:#999; line-height:1.9;font-family: 'Lato', sans-serif; font-weight:400; font-size: 14px;}
footer.footer-arya ul li a:hover { color:#333;}
footer.footer-arya ul.footer-social { border-top:1px solid #999; padding-top:15px; margin-top:30px}
.footer-social .fab {font-size:30px}