footer { padding: 40px 0px; background: #000; }
footer label { color: #fff; }
footer ul { margin: 0px; padding: 0px; }
footer ul li { list-style: none; }
footer .nav-link{ padding: .5rem 0px; color: #848484; }
footer .nav-link:hover { color: #fff; }
footer .form-control { background: transparent; color: #fff; border-radius: 0px; padding-right: 60px; }
footer .form-control:hover, footer .form-control:focus, footer .form-control:active { background: transparent; color: #fff; }
footer form .btn { position: absolute; top: 0px; right: 0px; height: 38px; line-height: 18px; padding: 6px 20px; border: 0px;margin: 32px 15px 0px 0px; }
footer p a { color: #848484; }
footer p a:hover { color: #fff; }
.padd-no-btm { padding-bottom: 0px; }
