/* Chrome/Opera/Safari */
::-webkit-input-placeholder { color: #bc3f3d; font-size: 14px;}
::-webkit-selection{background:#f89c2e;color:#fff;text-shadow:0 0 transparent}
 /* Firefox 19+ */
::-moz-placeholder { color: #bc3f3d; font-size: 14px;}
::-moz-selection{background:#f89c2e;color:#fff;text-shadow:0 0 transparent}
 /* IE 10+ */
:-ms-input-placeholder {color: #bc3f3d; font-size: 14px;}
::-ms-selection{background:#f89c2e;color:#fff;text-shadow:0 0 transparent}
/* Firefox 18- */
:-moz-placeholder {  color: #bc3f3d;  font-size: 14px;}
::selection{background:#f89c2e;color:#fff;text-shadow:0 0 transparent}
img {-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none; max-width:100%;transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
a {transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
a:hover {text-decoration:none; }
h3 {font-family: 'Cinzel', serif;}
/* body, */
/* html {overflow-x:hidden; height:100%} */
body {font-family: 'Lato', sans-serif;}
.btn {border-radius:0;}
header.row {position:relative; z-index: 100; background:#fff;}
.off-canvas-nav {position: fixed; width: 260px; left: -260px; background-color: #f3f3f3; border-right: 1px solid #c5c5c5; overflow-y: auto; z-index: 9; height:100%; overflow-x:hidden; overflow-y:auto}
.off-canvas-nav .list-inline {background: #fff; margin: 0;border-bottom: 1px solid #ccc;}
.off-canvas-nav .list-inline li.list-inline-item {width:49%; margin:0; text-align:center}
.off-canvas-nav .list-inline li.list-inline-item:not(:last-child) { border-right: 1px solid #c5c5c5;}
.off-canvas-nav .list-inline li a {display:block; padding:15px 10px;}
.off-canvas-nav .list-unstyled li {position:relative}
.off-canvas-nav .list-unstyled li+li:after { content: " "; position: absolute; top: 0; left: 20px; right: 20px; height: 1px; background-color: #c5c5c5;}
.off-canvas-nav .list-unstyled a {position: relative; cursor: pointer; line-height: 40px; padding:0 20px;color: #58595b;text-transform: uppercase; font-size: 12px; display: block;}
.off-canvas-nav li.parent>a:after { content: ""; float: right; ; background-position: -257px -232px; width: 7px; height: 12px; margin: 14px 0;}
.off-canvas-nav .subMenu>div>span {text-align:right; position:relative;line-height:40px; padding: 0 15px; font-size: 12px; cursor:pointer}
.off-canvas-nav .subMenu>div>span:before { content: ""; display:inline-block;background-position: -257px -220px; width: 7px; height: 12px; margin:-2px 8px;}
.subMenu {display: block; position: absolute; top: 0; height: 100%; width: 100%; right: -100%; text-transform: uppercase; background-color: #f3f3f3; overflow-x: hidden; overflow-y: auto;transition: transform .2s cubic-bezier(.215,.61,.355,1) .3s,right .3s cubic-bezier(.55,.055,.675,.19); transform-origin: 50% 0;}
.subMenu.openSub {transition: transform .2s cubic-bezier(.215,.61,.355,1) .3s,right .3s cubic-bezier(.215,.61,.355,1) .2s; right: 0;}
.left-nav {position: relative; height: calc(100% - 60px); overflow: hidden;}
.left-nav-toplink {position: relative; background-color: #fff; height: calc(100% - 165px); overflow: hidden;}
.leftSearch {position: absolute; bottom: 0; left: 0; height: 60px; width: 100%; overflow: hidden;}

.off-canvas-main { position: relative; background-color: #fff; transition: transform .2s ease-out; overflow:hidden}
.open-nav .off-canvas-main { transform: translateX(260px);position: fixed; top: 0; bottom: 0; height: 100%; width: 100%; overflow: hidden; }
.open-nav .off-canvas-nav { -webkit-transform: translateX(100%); transform: translateX(100%); }
.open-nav #hamburger-icon:before {opacity:1; width: 100%;}

.my-overlaw {position:fixed;max-height:1; left:0; right:0; content:'';background:rgba(255,255,255,.95); top:0; z-index:-1; -webkit-transition: all 1s -0.25s ease-out;  -moz-transition: all 1s -0.25s ease-out;    -o-transition: all 1s -0.25s ease-out;   -ms-transition: all 1s -0.25s ease-out; transition: all 1s -0.25s ease-out; opacity:0;}
.container-fluid {position:relative}
.form-control {border-radius:0}
.form-control:focus { border-color: #ffd7a6; box-shadow: 0 0 0 0.2rem rgb(255, 229, 198);}
.bg-light { background-color: #ffffff!important; }
.navbar {z-index: 0 !important;z-index: 99;font-family: 'Lato', sans-serif; border-top: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5;}
.navbar-light .navbar-nav .nav-link { color: rgba(0,0,0,.9);}
.navbar-light .navbar-nav .nav-link:hover{ color:#f89c2e;}
.navbar-light .navbar-nav .nav-link:hover .fas { color:#f89c2e;}
.navbar .fas {font-weight: 600; font-size: 12px;color: rgba(0,0,0,.5);}
.navbar-light .navbar-toggler { border-color: rgb(247, 148, 30);border-radius: 0; outline:none;transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
.navbar-light .navbar-toggler:hover { background: #f89c2e;}
.top-links {margin:0;font-family: 'Lato', sans-serif; }
.top-links li {position: relative; z-index: 2; line-height:30px; font-size: 12px;}
.top-links li {color:#58595b;}
.top-links li span {padding:0 10px}
.top-links li a {color:#58595b;}
.top-links li a:hover {color:#f89c2e }
.desktop-logo-arye {position:inherit;z-index:1; margin-bottom:5px;}
.desktop-logo-arye img {position: relative; z-index: 1;}
.top-white { background-color: #fff; }
.top-gry { background-color: #f3f3f3;}
.top-icon-arye ul {margin:0;padding:0;}
.top-icon-arye .list-inline-item {padding:25px 5px; position:relative}
.top-icon-arye .list-inline-item:not(:last-child) { margin-right:1.5rem;}
.top-icon-arye .list-inline-item#cart-box { margin-right:0;}
#hamburger-icon:before { content: " "; display: block; position: fixed; top: 0; left: 0; height: 100%; width: 0; opacity: 0; transition: opacity .2s,width .05s .2s; background:rgba(255,255,255,.7);}
#hamburger-icon { display: block; position: relative; height: 32px; width: 32px; overflow: hidden; z-index: 100; cursor:pointer; display: inline-block;}
.topMenuL { font-size:0;}
#hamburger-icon div { position: absolute; height: 2px; right: 2px; left: 2px; background-color: #58595b; border: 0; -webkit-transition: -webkit-transform .2s ease-in-out .2s,top .2s ease-in-out .2s,background-color .3s; -moz-transition: -moz-transform .2s ease-in-out .2s,top .2s ease-in-out .2s,background-color .3s; -o-transition: -o-transform .2s ease-in-out .2s,top .2s ease-in-out .2s,background-color .3s; transition: transform .2s ease-in-out .2s,top .2s ease-in-out .2s,background-color .3s; vertical-align: top;}
.storeLocaterIcon {float: right; margin-top: -2px; vertical-align: top; margin-left:10px; cursor:pointer; font-size:0;}
.storeLocaterIcon img {display: inline-block; vertical-align: middle; height:32px;}
.storeLocaterIcon span {font-size:8px; text-transform: uppercase; display: inline-block; font-weight: bold; width:45px; line-height: 1.2;vertical-align: middle; letter-spacing: 2px;margin-right: 4px; text-align:right}
#hamburger-icon div.top { top: 25%; margin-top: -1px; }
.open-nav #hamburger-icon div.top {transform: rotate(-135deg); top: 50%;}
#hamburger-icon div.middle { top:50%; margin-top: -1px; }
.open-nav #hamburger-icon div.middle {opacity:0;}
#hamburger-icon div.bottom { top:75%; margin-top: -1px; }
.open-nav #hamburger-icon div.bottom { transform: rotate(135deg); top: 50%;}

.icon-custom { display: inline-block; vertical-align: middle;}
.icon-custom.wishlist { background-position: -201px -220px; width: 28px; height: 26px; }
.icon-custom.search { background-position: 0 -300px; width: 26px; height: 26px; }
.icon-custom.cart { background-position: -134px -140px; width: 30px; height: 30px; }
.icon-custom.wishlist+span,
.icon-custom.cart+span {background:#121515; position:absolute;text-align:center; color:#fff; border-radius:10px; font-family: 'Lato', sans-serif; font-size:10px;width:18px; height:18px; line-height:17px; top: 20px; right: -5px;}
.navbar-expand-md .navbar-nav .nav-link { font-size: 12px;}
.navbar-expand-md .navbar-nav .nav-item:nth-child(n+3) {position:relative}
.navbar-expand-md .navbar-nav .nav-item:nth-child(n+3) .customDropdownMenu>ul {padding: 20px 15px;}
.customDropdownMenu {position:absolute; left:0; top:100%; right:0; background:#fff; z-index:-9999; max-height:0px; overflow:hidden; border-top: 1px solid #c5c5c5; min-width: 180px; -webkit-transition:all 200ms linear .1s; -moz-transition:all 200ms linear .1s; -o-transition:all 200ms linear .1s; transition:all 200ms linear .1s;}
.customDropdownMenu>div{padding:20px 0;}
.customDropdownMenu h4 {font-size:14px;}
.customDropdownMenu ul li {font-family: 'Lato', sans-serif; font-size:11px;padding:3px 0 }
.customDropdownMenu ul li a {color:#333; }
.customDropdownMenu ul li a:hover {color:#f89c2e }
.navbar-expand-md .navbar-nav .nav-item:hover .customDropdownMenu { max-height:500px;-webkit-box-shadow: 0 5px 5px 2px rgba(0,0,0,.1); box-shadow: 0 5px 5px 2px rgba(0,0,0,.1);}
