section {
  width: 100%;
}
section:before, section:after {
  content: '';
  display: table;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.padd-zero{padding: 0px;}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
a, img, div, button {
  outline: none !important;
}
.mini-carousel .card-comp img {
  transition: all ease 1s;
  transform: scale(1);
}
.card-comp:hover{color: white}

.c-item{float: left;}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
element.style {
  opacity: 1;
  width: 1362px;
  transform: translate3d(0px, 0px, 0px);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}
element.style {
  width: 454px;
}
.slick-initialized .slick-slide {
  display: block;
}
.mini-carousel a.card-comp {
  color: #ffffff;
}
.mini-carousel .card-comp {
  overflow: hidden;
}
a.card-comp {
  display: block;
}
.white {
  color: #ffffff;
}
.card-comp {
  position: relative;
  width: 100%;
}
a, img, div, button {
  outline: none !important;
}
a {
  text-decoration: none !important;
}

.slick-slider .slick-slide img {
  display: block;
  max-width: 100%;
}
.card-comp img {
  width: 100%;
  display: block;
  border: none;
}
.card-comp.txt-overlay .card-comp-txt {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0,0.8) 100%);
}
 

.card-comp .card-comp-txt {
  padding: 25px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mini-carousel h2 {
    color: #ffffff;
}
.card-comp h2 {
    position: relative;
}
.card-comp h2, .card-comp h3 {
    margin-bottom: 10px;
}
h2 {
    font-size: 24px;
    line-height: 28px;
}

.mini-carousel p {
    color: #ffffff;
    margin: 5px 0 15px;
}
.card-comp .custom-btn:last-child {
  margin-right: 0px;
}
.bor.arrow-r {
  padding: 10px 17px 10px 15px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;

}
.bor.clr-w, .bor.clr-w:not([href]):not([tabindex]) {
  color: #ffffff;
  border-color: #ffffff;
}
.bor {
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px 10px 15px;
}
.arrow-r {
  padding: 10px 20px 10px 0px;
}

.bor.arrow-r:before {
  right: 15px;
}
/* .arrow-r:before {
  position: absolute;
  right: 0px;
  top: 50%;
  content: "\0041";
  font-family: "reicons";
  font-size: 12px;
  margin-top: -7px;
} */
.custom-btn:hover{
  background-color: #ffffff;
  color: black;
  text-decoration: none;
}
.zoom {
  overflow: hidden; 
  margin: 0px auto;
}
.zoom img{position: relative; transition: transform .3s;}

.zoom img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 

}
.zoom:hover .image-texts{display: block;}
